@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sriracha/v16/0nkrC9D4IuYBgWcI9NbLTwHSoQ.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-image: linear-gradient(to bottom, black, rgb(29, 6, 56));
    text-align: center;
    color: white;
}

header > h1 {
    padding-top: 20px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 4vh;
}

header > p{
    padding-bottom: 20px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section.normal {
    background-color: white;
    color: black;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.4em;
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section#img01 {
    background-image: url(./Assents/background001.jpg);
    background-position: right center;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img02 {
    background-image: url(./Assents/background002.jpg);
}

footer {
    background-image: linear-gradient(to right, black 60%, rgb(65, 17, 80));
    color: white;
    text-align: center;
    padding: 10px;
}